.site-screenshot{
    margin-top: 30px;
}
.site-screenshot .browser-window .top{
    max-width: 947px;
    width: 90%;
    margin: 0 auto;
    height: 41px;
    background: url('../images/browser.png') no-repeat center bottom / contain;
}
.site-screenshot .browser-window .body{
    max-width: 947px;
    width: 90%;
    margin: 0 auto;
    border: 1px solid #aeaeae;
}
