.site-screenshot{
    margin-top: 30px;
}
.site-screenshot .browser-window .top{
    width: 947px;
    margin: 0 auto;
    height: 41px;
    background: url('../images/browser.png') no-repeat center top / cover;
}
.site-screenshot .browser-window .body{
    width: 947px;
    margin: 0 auto;
    border: 1px solid #aeaeae;
}
